PATH=/app/.venv/bin:$PATH
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost.localstack.cloud:4566
SURF_ARCHIVER_BUCKET=mycostreams-raw-data
SURF_ARCHIVER_CONNECTION_URL=amqp://guest:guest@rabbitmq:5672
SURF_ARCHIVER_LOG_FILE=/data/app.log
SURF_ARCHIVER_TARGET_DIR=/data
