{
    "type": "message",
    "attachments":[
        {
            "contentType":"application/vnd.microsoft.card.adaptive",
            "contentUrl": null,
            "content":{
                "$schema":"http://adaptivecards.io/schemas/adaptive-card.json",
                "type":"AdaptiveCard",
                "version":"1.2",
                "body":[
                    {
                        "type": "TextBlock",
                        "text": "Daily stats: {{ date.isoformat() }}"
                    },
                    {
                        "type": "FactSet",
                        "facts": [
                            {
                                "title": "Event Count",
                                "value": {{ event_count }}
                            },
                            {
                                "title": "Export Count",
                                "value": {{ export_count }}
                            },
                            {
                                "title": "Archive Count",
                                "value": {{ archive_count }}
                            }
                        ]
                    }
                ]
            }
        }
    ]
}
